{% include 'common/header.html' %}
{% include 'common/top_menu.html' %}


    <div class='container-fluid'>
        {% include 'common/sidebar.html' %}
        <div class='content'>
              <div class="page-header" id="banner">
                <div class="row">
          <div class="col-lg-11 col-md-11 col-sm-11">
          <br/>
            {% block body %}{% endblock %}

          </div>

                </div>
              </div>
       </div>
                <div class="footer">
                      <!-- STATS: Total: %(totTime).2fms Python: %(pyTime).2fms DB: %(dbTime).2fms Queries: %(queries)d -->
            </div>

   </div>
{% include 'common/footer.html' %}
