{% extends 'page_template.html' %}

{% block body %}
    <h1>Položky Menu:</h1>
    <a href="{% url 'menuitem_new' %}" class="btn btn-primary" role="button">Add item</a><br/><br/><p>
    <b>Menu items:</b>
    <table class="table">
    {% for menuitem in items %}
        <tr><td>{{ menuitem.id }}</td>
            <td> {{ menuitem.page }}</td>
            <td> {{ menuitem.label }} </td>
            <td>{{ menuitem.deleted }}</td>
            <td><a href="{% url 'menuitem_up' menuitem.id %}">Up</a></td>
            <td><a href="{% url 'menuitem_down' menuitem.id %}">Down</a></td>

            <td><a href="{% url 'menuitem_edit' menuitem.id %}">Edit</a></td>
            <td> <a href="{% url 'menuitem_delete' menuitem.id %}">Delete</a></td></tr>
    {% endfor %}
    </table>
{% endblock %}